[package]
name = "grafana-to-ntfy"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rocket = { version = "0.5.0-rc.1", features = ["json"] }
lazy_static = "1.4.0"
reqwest = "0.11.8"
dotenv = "0.15.0"
base64 = "0.13.0"
